@model IEnumerable<CIS655Project.Models.JobApplication>

@{
    ViewData["Title"] = "My Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["delete"] != null)
{
    <div class="alert alert-success">@TempData["delete"] </div>
}
@if (TempData["deletefail"] != null)
{
    <div class="alert alert-danger">@TempData["deletefail"] </div>
}
@if (TempData["App"] != null)
{
    <div class="alert alert-success">@TempData["App"] </div>
}
@if (TempData["AppError"] != null)
{
    <div class="alert alert-danger">@TempData["AppError"] </div>
}


@if (Model.Any())
{
    <h1 class="text-center">My Applications</h1>
    <div>
        @foreach (var item in Model)
        {
            <div class="card mx-auto mb-3" style="width: 28rem;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
">
                <div class="card-body">
                    <h5 class="card-title"> @item.Job.JobTitle</h5>
                    <p class="card-text"> <b>PostDate: </b> @item.Job.JobPostDate</p>
                    <p class="card-text"><b>Location: </b>@item.Job.Location</p>
                    <p class="card-text"><b>Job Type: </b> @item.Job.JobType</p>
                    <p class="card-text"><b>Description: </b> @item.Job.Summary</p>
                    <a asp-action="Withdraw" asp-route-id="@item.JobId" class="btn btn-primary">Withdraw</a>
                </div>
            </div>
        }
        <div class="text-center mt-4">
            <a asp-action="SearchResults" class="btn btn-outline-success text-dark">Back to Search Results</a>
        </div>
    </div>

}
else
{
    <h1 class="text-center">Nothing to Display</h1>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-outline-success text-dark">Apply For Jobs</a>
    </div>
}